{{!--This  is a comment!--}}
{{> header }}
<p>Hello World!</p>
<p>{{message}}</p>
{{#if displayName}}
    <p>{{message}}</p>
    {{else if message}}
    <p>{{message}}</p>
    {{else}}
    <p>Not logged in</p>
{{/if}}
{{#unless displayName}}
    <p>{{message}}</p>
{{/unless}}
{{#each names}}
    {{this}}
{{/each}}
{{#each names}}
    {{.}}
{{/each}}
{{#each names as |name key|}}
    {{name}}
    {{key}}
{{/each}}
{{#each obj}}
    {{this}}
{{/each}}
{{#each list}}
    {{log this.name}}
    {{name}}
{{/each}}
{{#each list2}}
    {{#each this.items}}
        {{log this}}
    {{/each}}
{{/each}}
{{calculation 100}}
{{#list list}}
    {{value.name}} 
{{/list}}
{{#with obj as |x|}}
    {{x.name}}{{x.age}}
{{/with}}
{{> footer}}